{%- for instance in ec2_info.instances -%}
  {%- if instance.tags.Name is defined and instance.public_dns_name is defined and instance.state.name != "terminated" -%}


[{{ instance.tags.Group }}]
{{ instance.public_dns_name }}

[{{ instance.tags.Group }}:vars]
ansible_python_interpreter=/usr/bin/python3

  {%- endif -%}
{%- endfor -%}
